@model GestionCompte.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nomClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nomClient)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresseClient)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresseClient)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("ADMIN"))
    { @Html.ActionLink("Edit", "Edit", new { id = Model.ClientID }) <span>|</span> }  
    @Html.ActionLink("Back to List", "Index")
</p>
