@model IEnumerable<GestionCompte.Models.Compte>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @if (User.IsInRole("ADMIN"))
    {    @Html.ActionLink("Create New", "Create")}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.client.nomClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateCreation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.solde)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.client.nomClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateCreation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.solde)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.CompteID })
            @if (User.IsInRole("ADMIN"))
            {<span>|</span> @Html.ActionLink("Edit", "Edit", new { id = item.CompteID }) <span>|</span>
            @Html.ActionLink("Delete", "Delete", new { id = item.CompteID })
        }
        </td>
    </tr>
}

</table>
